aiohttp==3.8.4
aiosignal==1.3.1
async-timeout==4.0.2
attrs==24.3.0
beautifulsoup4==4.12.3
blinker==1.9.0
certifi==2024.12.14
charset-normalizer==3.1.0
click==8.1.8
contourpy==1.3.1
cycler==0.12.1
datasets==3.2.0
decorator==5.1.1
dill==0.3.8
ffmpeg==1.4
filelock==3.16.1
Flask==3.1.0
fonttools==4.55.3
frozenlist==1.3.3
fsspec==2024.9.0
h11==0.14.0
huggingface-hub==0.26.5
idna==3.4
imageio==2.36.1
imageio-ffmpeg==0.5.1
itsdangerous==2.2.0
Jinja2==3.1.5
kiwisolver==1.4.8
MarkupSafe==3.0.2
matplotlib==3.10.0
moviepy==2.1.1
mpmath==1.3.0
multidict==6.0.4
multiprocess==0.70.16
networkx==3.4.2
numpy==1.24.0
openai==0.27.4
outcome==1.3.0.post0
packaging==24.2
pandas==2.2.3
pillow==10.4.0
plotly==5.24.1
proglog==0.1.10
pyarrow==18.1.0
pyparsing==3.2.1
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytube @ git+https://github.com/pytube/pytube.git@a32fff39058a6f7e5e59ecd06a7467b71197ce35
pytz==2024.2
PyYAML==6.0.2
regex==2024.11.6
requests==2.32.3
safetensors==0.4.5
selenium==4.27.1
six==1.17.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.6
SpeechRecognition==3.12.0
sympy==1.13.3
tenacity==9.0.0
tokenizers==0.21.0
torch==2.2.2
tqdm==4.67.1
transformers==4.47.1
trio==0.28.0
trio-websocket==0.11.1
typing_extensions==4.12.2
tzdata==2024.2
urllib3==1.26.15
websocket-client==1.8.0
Werkzeug==3.1.3
wsproto==1.2.0
xxhash==3.5.0
yarl==1.9.1
yt-dlp==2024.12.13
